body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 20px 308px;
    box-shadow: 10px 6px 15px #398045;
}

p {
    border: 1px solid black;
    padding: 12px;
    margin: 30px auto;
    width: 50%;
    font-size: 18px;
    background: #008045;
    box-shadow: 5px 10px 15px #398045c7;
}